supabase==2.2.1
pdf2docx==0.5.7
docx2pdf==0.1.8
typing
docx
beautifulsoup4==4.12.2
requests==2.31.0
aiogram==3.7.0
apscheduler
redis
PyMuPDF==1.23.15
supabase==2.2.1
firebase-admin==6.5.0
numpy==1.26.3